<%= stylesheet_link_tag 'errors', media: 'all', 'data-turbolinks-track': 'reload' %>
<body>
    <div id="notfound">
        <div class="notfound">
                <div class="notfound-404">
                        <div></div>
                        <h1>404</h1>
                </div>
                <h2>Page not found</h2>
                <p class="font-monospace">The page you are looking for might have been removed or had its name changed or is temporarily unavailable.</p>
                <%= link_to 'Back <i class="bi bi-arrow-left-circle"></i>'.html_safe, root_path, class: 'btn btn-outline-dark btn-lg' %>
        </div>
    </div>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"771b8ef9a8c183f5","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
</body>
</html>
