<div class="container text-center" style="max-width:60em;font-family: 'open-sans';">
	<h2>Create a new Student</h2>

	<%= render 'form', student: @student %>

	<%= link_to 'Back <i class="bi bi-arrow-left-circle"></i>'.html_safe, students_path, class: 'btn btn-outline-dark', style: 'margin-left:40em; margin-top:1em;' %>
	
</div>
