<div class="container text-center" style="max-width: 40em;font-family: 'Comic Sans MS','open-sans';">
	<div class="card border-dark shadow-lg">
		
		<div class="card-header text-dark text-center">
			<h4>Enter Fee type and Amount </h4>
		</div>

		<div class="card-body" style="background-color:#1e1e1e;">
			<%= render 'form', particular: @particular %>
		</div>

	</div>
</div>