#dash-cards {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.admin-head {
	margin: 0;
  	font-family: 'Leckerli One', cursive;
  	text-shadow: 0 2px rgba(0,0,0,.5);
  	font-size: 1.8em;
  	text-decoration: underline 0.8px purple;
  }

.table-sty >* {
  font-size: 0.9em;
}