 
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import 'bootstrap_icons';
@import "**/*";
@import 'animate';


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;    
}


.nav-header-txt {
    -webkit-animation-duration: 4.5s;
    animation-duration: 4.5s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-iteration-count: infinite;
    text-decoration: underline;
}

//.salution-header {
 //font-family: 'Comic Sans MS','open-sans';
 //font-size: 1.4em;
 //text-align: center;
 //margin-left: 2.5em;
 //margin-top: 0.3em;
 //margin-bottom: 1.2em;
 //box-shadow: 7px 9px #dde3eb;
 //border-radius: 50%;
// width: auto;
// height: 3em;
//}

//.salution-header .alert {
//    background-color: #fad796;
//    border-radius: 50%;
//    font-size: 0.9em;
//}

.usr-salut-head {
    font-family: 'Comic Sans MS','open-sans';
    text-align: left;
    //font-size: 2em;
    //width: auto;
    text-decoration: underline dotted 3px;
}

.user-txt:hover {
    background-color: #a2acfc;
    //font: up
    //border-radius: 100%;
    border: #a2acfc 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;

}

.navbar-nav {
    font-family:"open-sans";
    text-transform: uppercase;
    font-size: 1.1em;  
}


//.navbar-nav .nav-link.active,
// .navbar-nav .nav-link:hover {
//    border-top: 4px solid #000000;
//    border-bottom: 4px solid #000000;
   // background:#11ADE8;
//    padding: 6px 0;
//}

a:hover {
    color: #fff;
    border: 1px solid #e3f2fd;
    background-color: #e2f2fe; 
}

.chart-container {
    position: relative;
    margin: auto;
    //height: 300px;
    border: 1px solid black;
    width: 600px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}