$email-background: #EDEDED;
$email-header-bg: #161a39;

#email_wrapper {
  text-align: center;
  background: $email-background;
  padding-top: 1px;
  padding-bottom: 1px;

  #header {
    background: $email-header-bg;
    margin: 30px 30px 0px 30px;
    padding: 5px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .logo {
      width: 175px;
      height: auto;
    }
  }
  #body {
    background: white;
    margin: 0px 30px;
    margin-bottom: 30px;
    padding: 10px 30px;
    padding-bottom: 15px;
    border: 1px solid $email-header-bg;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
  }
  #body_p {
  	font-style: italic;
  	font-size: 15px;
  }
  #footer {
  	//border-top: 10px solid;
  	margin: 0px 30px;
  	padding: 10px 30px;
  	padding-bottom: 15px;
  	font-weight: bold;
  	font-size: 20px;
  }
}
