// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.invoice-sty >* {
  font-size: 0.95em;
}

#show-invoices {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#adm-inv-btn-group {
    margin-top: 2.5em;
    font-size: 1em;
    width: 20em;
    //margin-left: 400px;
    //margin-bottom: auto;
}


.adm-date-field {
    width: 100%;    
}

#adm-inv-input-gp {
    margin-bottom: 1em;
    padding: 0 20px 0 0;
}


.total-amt {
    text-decoration: underline #47496b 3px;
}

.inv-list {

    margin: 0 10px 0 0;
    padding: 0px 10px 0 0;
    border-right: 2px dotted;
}

.badge {
    border-radius: 0;
    font-size: 20px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
 }

.pending-status {
    color: #fff;
    background-color: #db4c5b;
}

.paid-status {
    color: #fff;
    background-color: #4f9e60;
}