// Place all the styles related to the Particulars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#part-sty {
	margin-bottom: 1em;
	//margin-right: 0.7em;
	width: auto;
	justify-content: left;
	text-align: center;
}