<div id="email_wrapper">
	<div id="header">
		<table>
			<tbody>
				<tr>
					<td width="100px"><%= email_image_tag "logo.png", class: "logo" %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="body">
			<h3>Hi! <%= @resource.username %></h3>
			This email is being sent, as you had requested for a change of password for your account.
			You can change your password with this link:
			<%= link_to 'Click here!', edit_password_url(@resource, reset_password_token: @token) %>
			<p id="body_p">If you didn't request this, please ignore this email.
			Your password won't change until you access the link above and create a new one.</p>
	</div>
	<div id="footer">
		&copy;Mimis School
	</div>
</div>